@charset "UTF-8";

/* FONTS */

/* BASE STYLES */

/* Box-sizing-model */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Responsive images */

img {
  max-width: 100%;
  height: auto;
}

/* Responsive video */

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Cursor change on hover on Buttons */

input[type="submit"],
button {
  cursor: pointer;
}

/* A better looking default horizontal rule */

hr {
  display: block;
  height: 0.1em;
  border: 0;
  border-top: 0.1em solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Allow only vertical resizing of textareas */

textarea {
  resize: vertical;
}

/* Browser Upgrade Prompt */

.old-ie-warning {
  margin: 0.5em;
  padding: 2em 1em;
  background-color: #ed1f46;
  color: #fff;
}

.old-ie-warning .browser-upgrade {
  display: inline;
}

.old-ie-warning .browser-upgrade__link {
  color: #fff;
  font-weight: 800;
  transition: all 0.5s ease-out;
}

.old-ie-warning .browser-upgrade__link:hover {
  color: #2e2f94;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* FONTS */

/* CenturyGothic */

/* COLORS */

/* FONTS-SIZES */

html {
  font-size: 62.5%;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  font-size: 1.6rem;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 144rem;
  height: 100%;
  margin: auto;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.html-overflow {
  overflow-y: scroll;
}

.modal-first--open {
  opacity: 1;
}

/* MIXINS & VARIABLES */

/* FONTS */

/* CenturyGothic */

/* COLORS */

/* FONTS-SIZES */

/* CSS-LIBRARIES */

/* PAGES */

/* SECTIONS */

/*********** HEADER TOP ***************/

.header__fix {
  position: absolute;
  width: 100%;
}

.header {
  width: 100%;
  z-index: 3;
  overflow: hidden;
}

.header__top {
  width: 10%;
  padding: 1.43rem 0 0 0;
  z-index: 1;
  margin-bottom: 5rem;
  position: relative;
}

.tel-none {
  z-index: 1;
}

.header,
.container,
.head,
.footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
}

.head__title {
  margin-bottom: 2rem;
}

.head__text {
  text-align: center;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
}

.head__form-policy {
  width: 90%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 3rem;
}

.content {
  padding: 0 1rem;
}

.width__form {
  width: 90%;
  height: auto;
  margin-top: 3rem;
}

.form__displiy {
  width: 100%;
  background: #ffffff;
  text-align: center;
  padding: 3rem 0;
  box-shadow: 0rem 8rem 2rem rgba(128, 128, 128, 0.07), 0rem 2.1rem 2.3rem rgba(128, 128, 128, 0.0503198), 0rem 2.2rem 1.7rem rgba(128, 128, 128, 0.0417275), 0rem 1.2rem 10rem rgba(128, 128, 128, 0.035), 0rem 6rem 5rem rgba(128, 128, 128, 0.0282725), 0rem 2rem 2rem rgba(128, 128, 128, 0.0196802);
  border-radius: 1.62em;
}

.formInput-flex {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.form__input-block {
  justify-self: center;
  align-self: center;
}

.form-section {
  margin: 0 auto;
  height: 35rem;
}

[for="form__checkboxs"]::before {
  content: "";
  position: absolute;
  left: 0rem;
  top: 0.01rem;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #4dc8c0;
  background-image: url("/wp-content/themes/twentytwenty-child/img/chechet.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  position: relative;
  opacity: 1;
  transition: 0.2s;
  opacity: 0;
}

.head {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 3rem;
}

.head::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background: radial-gradient(86.37% 86.37% at 49.74% 13.63%, #f5f5f5 0%, rgba(225, 225, 225, 0) 100%);
  z-index: 0;
}

.title,
.text,
.min-text,
.head__form {
  z-index: 1;
}

.head__form {
  position: relative;
  margin: 3.3rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: auto;
  padding-top: 8rem;
}

.form__block {
  display: block;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  text-align: center;
  width: 354px;
  height: 390px;
  background: #ffffff;
  box-shadow: 0rem 10rem 8rem rgba(128, 128, 128, 0.07), 0rem 4.17rem 3.34rem rgba(128, 128, 128, 0.0503198), 0rem 2.23rem 0.17rem rgba(128, 128, 128, 0.0417275), 0rem 1.25rem 1rem rgba(128, 128, 128, 0.035), 0rem 0.66rem 0.53rem rgba(128, 128, 128, 0.0282725), 0rem 0.27rem 0.22rem rgba(128, 128, 128, 0.0196802);
  border-radius: 10px;
}

.text-center {
  text-align: center;
}

.mainTexts {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #646c79;
  margin-bottom: 1rem;
}

.secondTexts {
  margin: 0 auto;
  width: 90%;
  font-size: 1.4rem;
  line-height: 2.24rem;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #565b62;
  margin-bottom: 2rem;
}

.form__input-block {
  display: block;
  width: 26rem;
  height: 4.8rem;
  margin-bottom: 1.5rem;
}

.head__btn-bottom:hover {
  -webkit-animation: btn 0.5s ease-in-out forwards;
  animation: btn 0.5s ease-in-out forwards;
}

.width {
  margin: 0 auto;
  width: 82%;
}

.about-indent {
  padding: 4rem 0;
}

.about {
  overflow: hidden;
}

.section__one {
  margin-top: 4rem;
}

.aboutTwo-width {
  margin: 0 auto;
  width: 82%;
}

.txt-bold {
  font-weight: bold;
}

.education {
  min-width: 0;
}

.sectionThree {
  width: 100%;
  height: auto;
  position: relative;
}

.bg {
  background-image: url("/wp-content/themes/twentytwenty-child/img/whyMin.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  height: auto;
  padding: 5rem 2rem 2rem 2rem;
}

.txt-width {
  margin: 0 auto;
}

.closeTwo {
  margin-top: -40.5rem;
  padding-left: 14em;
}

.modal__recording-height {
  height: 26.37em;
}

.mainText__recording-indent {
  padding-top: 3rem;
}

.formInput__recording {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.btn_left {
  margin-left: 0;
  display: block;
  margin: 2.5rem 0 3rem 0;
}

.situations-height {
  padding: 5rem 0 4.21rem 0;
}

.btn__indent {
  margin-bottom: 3rem;
}

.sectionFive {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.advantage__indent {
  padding: 3.5rem 0 1.5rem 0;
}

.adventige__width {
  width: 32.2rem;
  height: 100%;
  position: relative;
  align-self: baseline;
}

.adventige__width:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-radius: 1rem;
  background: linear-gradient(180deg, rgba(236, 234, 232, 0) 57.92%, #eceaea 100%);
}

.img__block {
  display: block;
}

.advantage {
  text-align: center;
}

.sectionFive__block {
  text-align: left;
}

button.btn {
  outline: none;
}

.picture-female {
  width: 100%;
}

.advantage__text {
  margin-bottom: 2rem;
}

.advantage__titl {
  margin-bottom: 3rem;
}

.advantage__titles {
  margin-bottom: 2rem;
}

.advantage__txt {
  margin-bottom: 2rem;
}

.box__left {
  margin-bottom: 2.5rem;
}

.advantage__btn {
  margin-bottom: 3rem;
}

.adventige__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.titl {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.52rem;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #565b62;
}

.sectionSix__width {
  margin: 0 auto;
  padding: 4rem 3rem;
  text-align: center;
}

.reviews__min-text {
  margin-bottom: 1rem;
}

.reviews__titles {
  margin-bottom: 2.6rem;
}

.slider__text-right {
  text-align: right;
}

.slider__contants {
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  height: 100%;
}

.slider__text-italic {
  font-family: "Raleway";
  font-style: italic;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.24rem;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #565b62;
  text-align: left;
}

.swiper-slide .swiper__bg {
  align-self: stretch;
}

.swiper__bg {
  background: #ffffff;
  box-sizing: border-box;
  width: 90%;
  border-radius: 1rem;
  opacity: 0.7;
}

.reviews__swiper-wrapper {
  margin: 3rem 0;
  z-index: 1;
}

.sectionSix .swiper-slide-active {
  opacity: 1;
  align-self: stretch;
}

.reviews-slider {
  border-radius: 1rem;
  border: 0.1rem solid #fbfbfb;
  box-shadow: 0px 1rem 1rem rgba(157, 157, 157, 0.07), 0rem 3rem 2.4rem rgba(157, 157, 157, 0.0456112), 0rem 1.25rem 1rem rgba(157, 157, 157, 0.035), 0rem 0.45rem 0.36rem rgba(157, 157, 157, 0.0243888);
}

.reviews__text-width {
  width: 16.5rem;
  padding: 1rem;
}

.min__text-center {
  display: block;
  margin: 0 auto;
}

.prices__indent {
  text-align: center;
  padding: 4rem 0;
}

.prices {
  width: 90%;
  margin: 0 auto;
}

.prices__min-text {
  margin-bottom: 1rem;
}

.prices__titles {
  margin-bottom: 3rem;
}

.prices__titl {
  margin-bottom: 1.9rem;
}

.prices__txt {
  display: inline-block;
  margin-bottom: 3rem;
}

.prices__picture {
  margin-bottom: 2rem;
  align-self: baseline;
  border-radius: 1rem;
}

.block__content {
  margin: 0 auto;
  width: 100%;
  text-align: left;
}

.picture-female {
  width: 100%;
}

.prices__width {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
}

.prices__width:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background: linear-gradient(180deg, rgba(236, 234, 232, 0) 57.92%, #eceaea 100%);
}

.flex__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.sectionEight {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 2.4rem 0 2.8rem 0;
  font-family: "Raleway";
}

.form__width {
  margin: 0 auto;
  width: 90%;
}

.blog {
  padding: 4rem 0;
}

.blog__min-text {
  margin-bottom: 1rem;
  align-self: baseline;
}

.blog__titles {
  margin-bottom: 4rem;
}

.picture__blog {
  border-radius: 1rem;
  margin-bottom: 2rem;
  min-height: 22.9rem;
}

.picture__blog .picture-female {
  height: 100%;
}

.blog__titl {
  margin-bottom: 2rem;
}

.blog__txt {
  margin-bottom: 2rem;
}

.blog-slider {
  cursor: pointer;
  margin-bottom: 4rem;
}

.sectionNine .swiper-slide-active {
  align-self: stretch;
}

.block__contents {
  padding: 1rem;
  text-align: left;
}

.block__content-flexs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  height: 100%;
  min-width: 30rem;
}

.swiper-slide.swiper__blog {
  align-self: stretch;
}

.btn__center {
  margin: 0 auto;
}

.txt__blog {
  text-decoration: none;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  font-feature-settings: "pnum" on, "lnum" on;
}

.sectionNine {
  width: 100%;
}

.blog-width {
  width: 100%;
  overflow: hidden;
}

.blog__title {
  margin-top: 0;
  margin-bottom: 1.7rem;
}

.blog__text {
  margin: 0 auto;
  max-width: 63.3rem;
  margin-bottom: 5rem;
}

.blog__txt {
  margin-bottom: 2rem;
}

.container__blog {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.block__content-blog {
  margin-bottom: 8rem;
}

.footer {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 4.1rem 0;
  overflow: hidden;
}

.footer__menu-items {
  line-height: 2.52rem;
}

.footer__menu-top {
  margin-bottom: 2rem;
}

.footer__menu-item,
.footer__menu-items {
  display: inline-block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.52rem;
  color: #565b62;
  transition-duration: 0.02s;
  text-align: center;
  margin-bottom: 1.3rem;
  transition-duration: 0.02s;
}

.footer__top {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  margin-bottom: 4rem;
}

.footer__menu-items:hover {
  font-weight: bold;
  transition-duration: 0.3s;
}

.white-space {
  white-space: nowrap;
}

.btn__footer-placement {
  margin: 0 auto;
  margin-top: 3rem;
}

.contacts__footer {
  text-align: left;
  width: 23rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  justify-self: center;
  align-self: center;
  align-self: baseline;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.menu__box-footer {
  margin: 0 auto;
  width: 95%;
}

.menu__list-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  margin-bottom: 3.9rem;
}

.icon_soc {
  width: 5rem;
  height: 5rem;
}

.icon_soc svg {
  width: 4.5rem;
  height: 4.5rem;
  fill: #56d0c9;
}

.social {
  width: 19.2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 3.3rem;
}

.policy__footer {
  margin: 0 auto;
  width: 31rem;
  text-align: center;
}

.politics {
  margin-bottom: 0.3rem;
}

/* BLOCKS */

/***    LOGO    ***/

.logo {
  margin: 0 auto;
  margin: 0 auto;
  width: 20rem;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.logo-logo {
  margin: 0 auto;
  width: 18rem;
  z-index: 6;
}

.logo__img {
  width: 4.3rem;
  height: 3.7rem;
  fill: #646c79;
  position: absolute;
  z-index: 2;
  margin-left: 1.8rem;
  margin-top: 1.6rem;
}

.logo__img2 {
  width: 2.9rem;
  height: 2.9rem;
  fill: #4dc8c0;
  /* заливкa */
  position: relative;
  top: 1.5rem;
  left: 1.2rem;
  z-index: 1;
}

.logo__img3 {
  width: 2.9rem;
  height: 2.9rem;
  fill: #e89160;
  /* заливкa */
  position: relative;
  top: 3rem;
  z-index: 0;
}

.logo__name {
  margin: 0 auto;
  width: 13.9rem;
  height: 1.4rem;
  top: 3.6rem;
  left: 1rem;
  position: relative;
  display: block;
  font-family: "Raleway";
  color: #565b62;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  text-decoration: none;
}

.address,
.addr {
  margin: 0 auto;
  width: 25.9rem;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  align-self: baseline;
  z-index: 1;
}

.hamburger__addres {
  margin-bottom: 2.8rem;
}

.adress__none {
  display: none;
}

.address__icons2 {
  width: 3.8rem;
  height: 3.8rem;
  padding: 0.7rem;
  fill: none;
  /* заливка */
  stroke: #e89160;
  /* цвет обводки */
  stroke-width: 0.1rem;
  /* толщина обводки */
  position: relative;
  z-index: 0;
  border-radius: 50%;
  border: solid 0.1rem #e89160;
}

.img-svg path,
.img-svg polygon {
  fill-opacity: 0.5;
  /* прозрачность заливки */
  stroke: #e89160;
  /* цвет обводки */
  stroke-width: 10px;
  /* толщина обводки */
  stroke-opacity: 0.8;
  /* прозрачность обводки */
}

.adress__img {
  align-self: center;
}

.adress__text {
  font-size: 1.4rem;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #565b62;
}

.adress__text-bold {
  font-weight: bold;
  font-size: 1.8rem;
  color: #646c79;
}

.addres {
  width: 20.9rem;
}

.adress__none {
  justify-content: center;
  align-content: center;
}

.contacts {
  margin: 0 auto;
  width: 26.3rem;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-self: baseline;
  z-index: 1;
}

.hamburger__contacts {
  margin-bottom: 2.8rem;
}

.contacts__img-left {
  padding-top: 1rem;
  margin-left: 2rem;
}

.icons-tel {
  width: 3.8rem;
  height: 3.8rem;
  padding: 0.7rem;
  fill: none;
  /* заливка */
  stroke: #e89160;
  /* цвет обводки */
  stroke-width: 0.1rem;
  /* толщина обводки */
  position: relative;
  z-index: 0;
  border-radius: 50%;
  border: solid 0.1rem #e89160;
}

.phone__img {
  align-self: center;
  z-index: 1;
}

.tel {
  display: block;
  width: 20rem;
  align-self: center;
  line-height: 1.68rem;
}

.time {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
}

.numbers {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.52rem;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  text-decoration: none;
  color: #646c79;
  transition-property: "linear-gradient";
  transition-duration: 0.4s;
}

.numbers:hover {
  text-transform: uppercase;
  background: linear-gradient(269.95deg, #4dc8c0 0.05%, #56d0c9 99.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #4dc8c0;
}

.tel-none {
  display: none;
}

.oh {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

/************ MENU *****************/

.hamburger-menu {
  width: 100%;
}

#menu__toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.hamburger-menu {
  position: relative;
  height: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  background: #646c79;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background: #646c79;
}

/* контейнер меню */

.hamburger__menu-box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  list-style: none;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 1s;
  border-radius: 0 70% 50% 0;
}

/* элементы меню */

#menu__toggle:checked ~ .hamburger__menu-box {
  visibility: visible;
  overflow: auto;
  left: 0;
  transition-duration: 1s;
  background: #f8f8f8;
  z-index: -1;
  border-radius: 0;
}

.hamburger__menu-box {
  padding: 13.4rem 0 5.7rem 0;
  transition-duration: 1s;
}

.menu__box {
  margin: 0 auto;
  padding: 4rem 0 0;
}

/********* Кнопка обратный звонок в гамбургере **************/

.hamburger__btn-center {
  margin: 0 auto;
  margin-bottom: 5rem;
}

/***************/

/******* hamburger ********/

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: -8.5rem;
  right: 0;
  width: 3.9rem;
  height: 2rem;
  cursor: pointer;
  z-index: 1;
  padding-right: 6rem;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 3.125em !important;
  height: 0.125em;
  background: #565b62;
  transition-duration: 0.3s;
}

.menu__btn > span::before {
  content: "";
  top: -0.5em;
}

.menu__btn > span::after {
  content: "";
  top: 0.5em;
}

.menu__item {
  display: block;
  text-decoration: none;
  font-size: 2.4rem;
  line-height: 4.7rem;
  text-align: center;
  color: #565b62;
  transition-duration: 0.3s;
}

.menu__item:hover {
  font-weight: bold;
  color: #565b62;
  transition-duration: 0.3s;
}

.menu__item:active {
  background: linear-gradient(269.95deg, #4dc8c0 0.05%, #56d0c9 99.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #4dc8c0;
}

.hamburger__menu-list {
  margin-bottom: 11.1rem;
}

.btn {
  padding: 1.1em 0;
  width: 13.75em;
  display: block;
  outline: none;
  background: linear-gradient(269.95deg, #56d0c9 0.05%, #4dc8c0 0.97%);
  border-radius: 6.25em;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.37em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  border: none;
  transition: all 0.8s ease;
  transform-origin: left right;
}

.btn:hover {
  -webkit-animation: btn 0.8s ease-in-out forwards;
  animation: btn 0.8s ease-in-out forwards;
  transition: all 0.8s ease;
}

@-webkit-keyframes btn {
  0% {
    transform-origin: left right;
    background: linear-gradient(269.95deg, #56d0c9 0.05%, #4dc8c0 0.97%);
  }

  100% {
    background: #e89160;
    transform-origin: left right;
  }
}

@keyframes btn {
  0% {
    background: linear-gradient(269.95deg, #56d0c9 0.05%, #4dc8c0 0.97%);
  }

  100% {
    background: #e89160;
  }
}

.btn__mobail-none {
  display: none;
  z-index: 1;
}

.btn-center {
  margin: 0 auto;
}

#modal__checkbox-footer,
#form__checkboxs,
#modal__checkbox,
#form__checkboxTwo,
#form__checkboxFour,
#form__checkboxThree {
  opacity: 0;
  position: absolute;
}

.form__policy-links {
  display: block;
  width: 25.5rem;
  margin-top: -1.9rem;
  line-height: 2.5rem;
}

.modal__policy-link {
  display: block;
  margin-left: 2rem;
  width: 24rem;
  margin-top: -1.9rem;
  line-height: 2.5rem;
}

[for="modal__checkbox-footer"],
[for="form__checkboxs"],
[for="form__checkboxTwo"],
[for="form__checkboxFour"],
[for="modal__checkbox"],
[for="form__checkboxThree"] {
  position: relative;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border: solid 0.1rem #4dc8c0;
  border-radius: 0.2rem;
  background-size: 8rem 0.2rem;
  cursor: pointer;
}

[for="form__checkboxFour"] {
  position: relative;
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  border: solid 0.1rem #4dc8c0;
  border-radius: 0.2rem;
  background-size: 8rem 0.2rem;
  cursor: pointer;
}

[for="modal__checkbox-footer"]::before,
[for="form__checkboxs"]::before,
[for="form__checkboxTwo"]::before,
[for="form__checkboxFour"]::before,
[for="form__checkboxThree"]::before,
[for="modal__checkbox"]:before {
  content: "";
  position: absolute;
  left: 0rem;
  top: -0.01rem;
  display: block;
  width: 101%;
  height: 100%;
  background-color: #4dc8c0;
  background-image: url("../img/chechet.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  position: relative;
  transition: 0.2s;
  opacity: 0;
}

#modal__checkbox-footer:checked ~ [for="modal__checkbox-footer"]:before,
#form__checkboxs:checked ~ [for="form__checkboxs"]:before,
#form__checkboxTwo:checked ~ [for="form__checkboxTwo"]:before,
#form__checkboxFour:checked ~ [for="form__checkboxFour"]:before,
#form__checkboxThree:checked ~ [for="form__checkboxThree"]:before,
#modal__checkbox:checked ~ [for="modal__checkbox"]:before {
  opacity: 1;
}

/**********************************/

.form {
  width: 29rem;
  height: auto;
  text-align: center;
  z-index: 5;
  background: #ffffff;
  border-radius: 1.62em;
  padding: 4rem 2rem 3rem 2rem;
}

.mainText {
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #646c79;
}

.secondText {
  font-size: 1.4rem;
  line-height: 2.6rem;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #565b62;
  margin-bottom: 3rem;
}

.form__input-style {
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) -9.84%, rgba(240, 240, 240, 0.3) 100%);
  border: 0.1rem solid rgba(242, 242, 242, 0.6);
  box-sizing: border-box;
  border-radius: 10rem;
  font-family: "Raleway";
  font-size: 1.4rem;
  line-height: 1.96rem;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #646c79;
}

.btn__width {
  margin: 0 auto;
  padding: 1.1em 0;
  width: 14.5em;
  display: block;
  outline: none;
  background: linear-gradient(269.95deg, #56d0c9 0.05%, #4dc8c0 99.97%);
  border-radius: 6.25em;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.37em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  border: none;
  margin-bottom: 2rem;
}

.btn__width:hover {
  color: #ffffff;
  -webkit-animation: btn 0.5s ease-in-out forwards;
  animation: btn 0.5s ease-in-out forwards;
}

.btn__width:active {
  background: #44beb6;
}

.form__policy {
  text-align: left;
  margin-top: 2rem;
  text-rendering: optimizelegibility;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 250;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #727272;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  margin-bottom: 3rem;
}

a.form__policy-link {
  text-decoration: none;
  text-rendering: optimizelegibility;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  box-sizing: border-box;
  background-color: transparent;
  color: #727272;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

input {
  outline: none;
}

.modalDialogTwo,
.modal__thanks,
.modalfooter,
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 8;
  transition: opacity 400ms ease-in;
  opacity: 0;
  pointer-events: none;
}

/****form спасибо***/

.form__blocks {
  margin: 0 auto;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.form__thanks {
  background: #ffffff;
  box-shadow: 0rem 8rem 2rem rgba(128, 128, 128, 0.07), 0rem 2.1rem 2.3rem rgba(128, 128, 128, 0.0503198), 0rem 2.2rem 1.7rem rgba(128, 128, 128, 0.0417275), 0rem 1.2rem 10rem rgba(128, 128, 128, 0.035), 0rem 6rem 5rem rgba(128, 128, 128, 0.0282725), 0rem 2rem 2rem rgba(128, 128, 128, 0.0196802);
  border-radius: 1.62em;
}

/**************/

.modalfooter:target,
.modalDialogTwo:target,
.modal__thanks:target,
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
  position: fixed;
}

.modalfooter > div,
.modalDialogTwo > div,
.modal__thanks > div,
.modalDialog > div {
  position: relative;
  margin: auto;
  z-index: 9;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  z-index: 2;
}

.modal__phone {
  width: 25.4rem;
  height: 6.1rem;
  margin-bottom: 3rem;
}

/* modal magic */

.close {
  display: block;
  position: absolute;
  width: 22.12rem;
  z-index: 6;
}

.closeThank {
  margin-top: -10.5em;
  padding-left: 14.5em;
}

.closeOne {
  margin-top: -21.5em;
  padding-left: 14.5em;
}

.close > span,
.close > span::before {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 0.125em;
  background: #565b62;
  transition-duration: 0.3s;
  border-radius: 1rem;
  margin-top: -3rem;
}

.close > span {
  top: 0;
  transform: rotate(45deg);
}

.close > span::before {
  content: "";
  transform: rotate(90deg);
}

/**********ADAPTIV MODAL*************/

.title {
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 4.3rem;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #646c79;
  justify-self: center;
  align-self: center;
}

.head__title {
  margin-top: 5rem;
}

.text {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #828282;
  text-align: center;
}

.head__text {
  max-width: 63.3rem;
  justify-self: center;
  align-self: center;
}

.min-text {
  width: 28.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  justify-self: center;
  align-self: center;
  margin-top: 5rem;
}

.min-text__color {
  background: #e89160;
}

.min-text__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #e9e8e9;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 0.5rem;
  display: inline-block;
  padding: 1rem 2rem;
}

.min-text__margins {
  margin: 1rem 0;
}

.titles {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.3rem;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #565b62;
}

.titles_width {
  max-width: 28.6rem;
}

.titles-indent {
  margin-top: 1rem;
}

.txt {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #565b62;
}

.txt-indent {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.picture-female {
  width: 100%;
  border-radius: 1rem;
}

.picture__indent {
  margin-top: 3rem;
}

.picture__width {
  width: 100%;
  position: relative;
}

.picture__width:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  background: transparent;
  background: linear-gradient(180deg, rgba(236, 234, 232, 0) 57.92%, #eceaea 100%);
}

.swiper__content {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.swiper-slide-width {
  background: #ffffff;
  border: 0.1rem solid #fbfbfb;
  box-sizing: border-box;
  text-align: left;
  padding: 2.5rem 6rem 3.7rem 1.9rem;
}

.education-slider-indent {
  margin-top: 2.6rem;
  margin-bottom: 4rem;
  box-shadow: 0px 3rem 2rem rgba(157, 157, 157, 0.07), 0rem 3rem 2.4rem rgba(157, 157, 157, 0.0456112), 0rem 1.25rem 1rem rgba(157, 157, 157, 0.035), 0rem 0.45rem 0.36rem rgba(157, 157, 157, 0.0243888);
  border-radius: 1rem;
}

/*стрелки*/

.arow {
  margin: 0 auto;
  width: 10em;
  height: 3.12em;
  display: flex;
  justify-content: space-around;
  align-content: center;
  background: linear-gradient(269.95deg, #4dc8c0 0.05%, #56d0c9 99.97%);
  border-radius: 0 0 0.5rem 0.5rem;
  text-align: center;
}

.swiper-buton {
  width: 100%;
  height: 100%;
  justify-self: center;
  align-self: center;
  outline: none;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.arrows {
  width: 1.5em;
  height: 1.5em;
  fill: none;
  /* заливка */
  stroke: #f2f2f2;
  /* цвет обводки */
  stroke-width: 0.1rem;
  /* толщина обводки */
  align-self: center;
}

.arow {
  position: relative;
}

.arow::before {
  content: "";
  position: absolute;
  border-left: 0.1rem solid rgba(113, 113, 126, 0.3);
  transform: rotate(90deg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 99%;
}

/*text-slidera*/

.slider__contant {
  margin: 0 auto;
  width: 90%;
}

.slider__text {
  width: 100%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.24rem;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #565b62;
}

.slider__text-bold {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.52rem;
  margin-bottom: 2rem;
}

.swiper-container {
  margin-bottom: 0;
}

.hide {
  clip: rect(0 0 0 0);
  height: 0.1rem;
  margin: -0.1rem;
  padding: 0;
  position: absolute;
  width: 0.1rem;
}

.accordion {
  width: 100%;
}

.accordion-item {
  position: relative;
  width: 100%;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-label {
  padding: 2rem 3.7rem 2rem 2rem;
  width: 100%;
  display: block;
  background: #879ab9;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.96rem;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  margin-top: 2rem;
}

.accordion-label-top {
  margin-top: 0;
}

.accordion-label:hover {
  cursor: pointer;
}

.accordion-label:before {
  content: "";
  position: absolute;
  top: 2.2rem;
  left: 87%;
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  background-image: url("wp-content/themes/twentytwenty-child/img/chevron.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

input[type="checkbox"]:checked ~ .accordion-label {
  border-radius: 0.5rem 0.5rem 0 0;
}

input[type="checkbox"]:checked ~ .accordion-label:before {
  transform: rotate(180deg);
}

.accordion-child {
  margin: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  opacity: 0;
  height: 0;
  transform-origin: top bottom;
}

input[type="checkbox"]:checked ~ .accordion-child {
  margin: 0;
  background: #ffffff;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.24rem;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #828282;
  padding: 2rem;
  box-shadow: 0rem 10rem 80rem rgba(157, 157, 157, 0.09), 0rem 3.01rem 24.1177rem rgba(157, 157, 157, 0.0456112), 0rem 1.25rem 1.001rem rgba(157, 157, 157, 0.035), 0rem 0.45rem 0.36rem rgba(157, 157, 157, 0.0243888);
  height: 100%;
  opacity: 1;
}

@media screen and (min-width: 411px) {
  .closeTwo {
    margin-top: -23.5em;
    padding-left: 16.5em;
  }

  .menu__box-footer {
    background: #879ab9;
    border-radius: 0.5rem;
    padding: 1.5rem 0 0 0;
  }

  .footer__menu-items {
    color: #ffffff;
  }

  .menu__list-footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }

  .menu__list-footer li {
    width: 26%;
  }

  .menu__list-footer .footer__menu-items {
    color: #ffffff;
  }

  .form {
    width: 33rem;
  }

  .closeOne {
    padding-left: 16em;
  }

  .closeThank {
    margin-top: -10em;
    padding-left: 16.5em;
  }

  .accordion-label:before {
    content: "";
    position: absolute;
    top: 2.2rem;
    left: 90%;
    display: inline-block;
    width: 2.6rem;
    height: 2.6rem;
    background-image: url("wp-content/themes/twentytwenty-child/img/chevron.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 540px) {
  .form__policy-links {
    width: 35rem;
    text-align: left;
    margin-left: 2rem;
  }

  .head__form-policy {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 3rem;
  }

  .closeTwo {
    margin-top: -22.5em;
    padding-left: 26.5em;
  }

  .sectionSix__width {
    padding: 4rem;
  }

  .address__indent {
    margin-top: 8.1rem;
  }

  .menu__list {
    margin-top: 5.4rem;
  }

  .menu__btn {
    margin-right: 3rem;
  }

  .modal__policy-link {
    display: block;
    width: 35.5rem;
    margin-top: -1.9rem;
    line-height: 2.5rem;
  }

  .form {
    width: 49rem;
  }

  .closeOne {
    margin-top: -20em;
    padding-left: 26em;
  }

  .closeThank {
    margin-top: -9em;
    padding-left: 27em;
  }

  .modalfooter > div,
  .modalDialogTwo > div,
  .modal__thanks > div,
  .modalDialog > div {
    margin: 20% auto;
  }
}

@media screen and (min-width: 620px) {
  .title {
    width: 47rem;
    font-size: 4.1rem;
    line-height: 5rem;
  }

  .text {
    font-size: 2rem;
    line-height: 3rem;
  }

  .text_width {
    width: 46rem;
  }
}

@media screen and (min-width: 768px) {
  .cont {
    display: flex;
    width: 26.3rem;
  }

  .header__top {
    width: 26.3rem;
    margin-bottom: 7rem;
  }

  .header {
    padding: 3.6rem;
  }

  .form__policy-links {
    width: 48rem;
  }

  .head__form-policy {
    margin: 0 auto;
    width: 50rem;
    margin-bottom: 3rem;
  }

  .formInput-flex {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .head__form {
    margin-top: 5.5rem;
  }

  .about__content-width {
    width: 62rem;
  }

  .bg {
    background-image: url("/wp-content/themes/twentytwenty-child/img/why.png");
    padding: 5rem 2.2rem 6rem 2.2rem;
    margin-top: 7rem;
  }

  .txt-width {
    width: 80%;
    margin-top: 2rem;
  }

  .closeTwo {
    margin-top: -21.5em;
    padding-left: 37em;
  }

  .situations-width {
    width: 70%;
  }

  .situations-height {
    padding: 7rem 0 7.3rem 0;
  }

  .adventige__text {
    width: 45%;
  }

  .adventige__width {
    align-self: center;
  }

  .adventige__flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .advantage__titles {
    margin-bottom: 1.6rem;
  }

  .advantage__indent {
    padding: 6.7rem 0 5.9rem 0;
  }

  .sectionSix__width {
    padding: 4rem 5.1rem;
  }

  .slider__text-italic {
    margin-bottom: 1rem;
  }

  .block__content {
    width: 46.7rem;
  }

  .prices__indent {
    padding: 7rem 0;
  }

  .prices__titles {
    margin-bottom: 4rem;
  }

  .sectionEight {
    padding: 3.7rem 0 4.8rem 0;
  }

  .blog {
    padding: 7rem 0;
  }

  .block__content-flexs {
    padding: 0;
  }

  .block__contents {
    padding: 0;
  }

  .footer__menu-top {
    margin: 0 auto;
    width: 59rem;
    margin-bottom: 2rem;
  }

  .footer__menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    text-align: left;
  }

  .footer__menu-item {
    text-align: left;
  }

  .contacts__footer {
    margin-bottom: 3rem;
  }

  .btn__footer-placement {
    margin: 0 auto;
    margin-bottom: 5.8rem;
  }

  .footer__top {
    width: 95%;
    height: auto;
    margin-bottom: 5.8rem;
  }

  .menu__list-footer {
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    align-content: center;
  }

  .menu__list-footer li {
    width: 16%;
  }

  .policy__footer {
    width: 35rem;
  }

  .menu__list-footer {
    margin-bottom: 4.6rem;
  }

  .social {
    margin-bottom: 4.6rem;
  }

  .tel-none {
    display: block;
    margin-left: 1rem;
  }

  .numbers {
    font-size: 1.4rem;
  }

  .time {
    font-size: 1.2rem;
  }

  .menu__btn {
    top: -10rem;
  }

  .modal__policy-link {
    width: 47.7rem;
  }

  .form__policy {
    width: 50rem;
    margin: 0 auto;
    margin-bottom: 3.1rem;
  }

  .form {
    width: 66.8rem;
  }

  .closeOne {
    margin-top: -18em;
    padding-left: 37em;
  }

  .closeThank {
    margin-top: -7em;
    padding-left: 37em;
  }

  .title {
    width: 65rem;
    font-size: 4.8rem;
    line-height: 5.8rem;
  }

  .head__title {
    margin-top: 7rem;
  }

  .text {
    margin-top: 2rem;
    font-size: 2.4rem;
    line-height: 3.3rem;
  }

  .text_width {
    width: 63.3rem;
  }

  .min-text {
    width: 52.7rem;
  }

  .min-text__margins {
    margin: 1rem 1rem;
  }

  .picture__width {
    max-width: 66.8rem;
  }

  .swiper-slide-width {
    padding: 2.5rem 1.9rem 3.7rem 1.9rem;
  }

  .slider__contant {
    width: auto;
  }

  .education-slider .swiper-slide-active {
    position: relative;
  }

  .education-slider .swiper-slide-active::before {
    content: "";
    position: absolute;
    border-right: 0.1rem solid rgba(113, 113, 126, 0.3);
    transform: rotate(90deg);
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    height: 55%;
  }

  .education-sliders .swiper-slide-active {
    position: relative;
  }

  .education-sliders .swiper-slide-active::before {
    content: "";
    position: absolute;
    border-right: 0.1rem solid rgba(113, 113, 126, 0.3);
    transform: rotate(90deg);
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    height: 55%;
  }

  .accordion-label:before {
    content: "";
    position: absolute;
    top: 2.2rem;
    left: 93%;
    display: inline-block;
    width: 2.6rem;
    height: 2.6rem;
    background-image: url("../img/chevron.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 900px) {
  .modal__recording-height {
    height: 29.06em;
  }

  .mainText__recording-indent {
    margin-top: 5rem;
  }

  .adventige__text {
    width: 55%;
  }

  .modal {
    width: 49.25em;
  }

  .modal__challenge-height {
    height: 29.06em;
  }

  .modalfooter > div,
  .modalDialogTwo > div,
  .modal__thanks > div,
  .modalDialog > div {
    margin: 10% auto;
  }

  .closeOne {
    margin-top: -35rem;
    padding-left: 43.5em;
  }

  .close > span,
  .close > span::before {
    width: 1.7em;
    height: 0.125em;
  }

  .form__blocks {
    margin-top: 6rem;
  }

  .text-main {
    line-height: 7.6rem;
  }

  .title {
    width: 65rem;
    font-size: 5.8rem;
    line-height: 6.8rem;
  }

  .min-text {
    width: 55.7rem;
  }

  .min-text__text {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }
}

@media screen and (min-width: 1020px) {
  .sectionTwo-indent {
    margin-top: 10rem;
  }

  .sectionSix__width {
    padding: 4rem 0rem;
  }

  .sectionSix .swiper-slide-active {
    opacity: 1;
    border: 0.1rem solid #fbfbfb;
    box-shadow: 0px 1rem 1rem rgba(157, 157, 157, 0.07), 0rem 3rem 2.4rem rgba(157, 157, 157, 0.0456112), 0rem 1.25rem 1rem rgba(157, 157, 157, 0.035), 0rem 0.45rem 0.36rem rgba(157, 157, 157, 0.0243888);
  }

  .reviews-slider {
    border-radius: 0rem;
    border: 0rem;
    box-shadow: none;
  }

  .reviews__arow {
    margin-top: -2.9rem !important;
    z-index: 2;
  }

  .sectionSix__width {
    width: 100%;
  }

  .reviews__titles {
    margin-bottom: 5rem;
  }

  .blog {
    padding: 10rem 0;
  }

  .blog__titles {
    margin-bottom: 5rem;
  }

  .title {
    width: 65rem;
    font-size: 7.2rem;
    line-height: 8.6rem;
  }

  .slider__contant {
    width: 30.5rem;
  }

  .slider__text {
    font-size: 1.4rem;
    line-height: 2.24rem;
  }

  .slider__text-bold {
    font-size: 2.4rem;
    line-height: 3.36rem;
  }
}

@media screen and (min-width: 1024px) {
  .formInput-flex {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }

  .form__btn-bottom {
    margin: 0;
    width: 25.4rem;
    margin-bottom: 2rem;
    padding: 0.5em 0;
  }

  .form__input-block {
    width: 25.4rem;
  }

  .head__form {
    margin-top: 3rem;
  }

  .modalDialogTwo > div {
    margin: 30% auto;
  }

  .closeTwo {
    margin-top: -31.5em;
    padding-left: 49em;
  }

  .modal__policy-link {
    width: 48.7rem;
  }

  .formInput__recording {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
  }

  .situations-height {
    padding: 10rem 0 8rem 0;
  }

  .titles__width {
    max-width: 40rem;
  }

  .txt-indents {
    margin-bottom: 4rem;
  }

  .advantage__indent {
    padding: 7.3rem 0;
  }

  .advantage__titl {
    margin-bottom: 5rem;
    font-size: 3.6rem;
    line-height: 5.04rem;
  }

  .advantage__titles {
    font-size: 2.4rem;
    line-height: 3.36rem;
    margin-bottom: 2rem;
  }

  .advantage__txt {
    font-size: 1.8rem;
    line-height: 2.88rem;
    margin-bottom: 4rem;
  }

  .sectionEight {
    padding: 6.72rem 0 8.9rem 0;
  }

  .footer__top-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .footer__menu-top {
    margin: 0;
    margin-bottom: 2rem;
  }

  .det {
    padding: 0 3rem 0 0;
  }

  .footer__top {
    margin-bottom: 3rem;
  }

  .menu__list-footer {
    margin-bottom: 3rem;
  }

  .social {
    margin-bottom: 3rem;
  }

  .contacts__footer {
    align-self: center;
    margin: 0;
    margin-bottom: 2rem;
  }

  .mainTexts {
    font-size: 4.4rem;
    margin-bottom: 2rem;
  }

  .secondTexts {
    font-size: 1.8rem;
    line-height: 2.88rem;
    margin-bottom: 2rem;
  }

  .secondText {
    font-size: 2.4rem;
    line-height: 3.84rem;
  }

  .btn__width {
    width: 13.87em;
    font-size: 1.8rem;
  }

  .form {
    width: 90rem;
    padding: 9rem 7rem 15rem;
  }

  .mainText {
    font-size: 6.4rem;
    line-height: 7.68rem;
  }

  .closeOne {
    margin-top: -38rem;
    padding-left: 48em;
  }

  .modal__thank {
    left: 6%;
  }

  .closeThank {
    margin-top: -23em;
    padding-left: 49em;
  }

  .modal {
    width: 56.25em;
  }

  .modal__challenge-height {
    height: 39.06em;
  }

  .close {
    width: 28.12em;
  }

  .closeOne {
    margin-top: -51rem;
    padding-left: 49em;
  }

  .close > span,
  .close > span::before {
    width: 1.7em;
    height: 0.125em;
  }

  .modalfooter > div,
  .modal__thanks > div,
  .modalDialog > div {
    margin: 0% auto;
  }

  .head__title {
    margin-top: 12rem;
  }

  .head__text {
    max-width: 63.3rem;
    justify-self: center;
    align-self: center;
  }
}

@media screen and (min-width: 1120px) {
  .txt-width {
    width: 40%;
    margin-top: 2rem;
  }

  .bg {
    background-image: url("/wp-content/themes/twentytwenty-child/img/why.png");
    padding: 5rem 2.2rem 6rem 2.2rem;
    margin-top: 7rem;
  }

  .addres__left {
    margin-left: 2rem;
  }

  .contacts__indent {
    margin-top: 0;
    justify-content: center;
    align-content: center;
  }

  .contacts__img-left {
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .block__flex {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .modalDialogTwo > div {
    margin: 10% auto;
  }

  .adventige__width {
    width: 41rem;
  }

  .adventige__text {
    align-self: center;
  }

  .prices__indent {
    padding: 9rem 0 10rem 0;
  }

  .prices__titles {
    margin-bottom: 3.7rem;
  }

  .prices__titl {
    margin-bottom: 1rem;
  }

  .container__blog {
    margin: 0 auto;
    width: 90%;
  }

  .menu__btn {
    margin-top: 1%;
  }

  .modal__thank {
    right: 5%;
  }

  .accordion-label {
    padding: 2.4rem 20.7rem 2.4rem 2.4rem;
    font-size: 1.8rem;
    line-height: 2.52rem;
  }

  input[type="checkbox"]:checked ~ .accordion-child {
    margin: 0;
    background: #ffffff;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.88rem;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #828282;
    padding: 2.4rem 4rem 4.4rem 4rem;
    box-shadow: 0rem 10rem 80rem rgba(157, 157, 157, 0.09), 0rem 3.01rem 24.1177rem rgba(157, 157, 157, 0.0456112), 0rem 1.25rem 1.001rem rgba(157, 157, 157, 0.035), 0rem 0.45rem 0.36rem rgba(157, 157, 157, 0.0243888);
    height: 100%;
    opacity: 1;
  }
}

@media screen and (min-width: 1300px) {
  .footer__top {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 4.6rem;
  }

  .footer__top-content {
    min-width: 75%;
  }

  .btn__footer-placement {
    margin: 0;
    align-self: baseline;
  }

  .menu__box-footer {
    width: 90%;
  }

  .footer__menu-top {
    margin: 0;
  }

  .contacts__footer {
    margin: 0;
  }
}

@media screen and (min-width: 1360px) {
  .titles {
    font-size: 3.6rem;
    line-height: 5.04rem;
  }

  .txt {
    font-size: 1.8rem;
    line-height: 2.9rem;
  }
}

@media screen and (min-width: 1420px) {
  .header__top {
    margin: 0 auto;
    width: 92%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }

  .cont {
    order: 1;
  }

  .adress__none {
    order: 0;
    display: flex;
  }

  .btn__mobail-none {
    order: 2;
  }

  .header {
    padding: 0.5rem 0 4.7rem 0;
  }

  .address,
  .addr {
    width: 28.9rem;
    display: flex;
  }

  .addres {
    align-self: center;
  }

  .adress__none {
    display: block;
    display: flex;
    justify-self: flex-start;
    align-self: center;
    margin-left: 0;
  }

  .adress__none-desctop {
    display: none;
  }
}

@media screen and (min-width: 1424px) {
  .blog__title {
    margin-top: 5rem;
    margin-bottom: 1.7rem;
  }

  .contacts__none-desctop {
    display: none;
  }

  label.menu__btn {
    display: none;
  }

  .hamburger__menu-box {
    opacity: 1;
    visibility: visible;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    top: auto;
    left: auto;
    box-shadow: none;
    position: relative;
  }

  .menu__list {
    margin: 0 auto;
    width: 90%;
    padding: 0 11rem;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background: #879ab9;
    border-radius: 0.5rem;
    margin-top: 0rem;
  }

  .menu__list li {
    width: 9.5%;
    /*убираем скачок при hover*/
  }

  .menu__item {
    font-size: 1.8rem;
    transition-duration: 0.02s;
    line-height: 4.7rem;
    color: #ffffff;
  }

  .menu__item:hover {
    color: #ffffff;
  }

  .btn__none-desctop {
    display: none;
  }

  .btn__mobail-none {
    display: block;
    margin: 0;
    margin-top: 2rem;
  }

  .btn {
    width: 13.75em;
    padding: 1.2em 0;
    text-align: center;
    align-self: baseline;
  }
}

@media screen and (min-width: 1520px) {
  .education {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .education__box {
    width: 49%;
  }
}

@media screen and (min-width: 1560px) {
  .prices__txt {
    margin-bottom: 0rem;
  }

  .prices__txt:last-child {
    margin-bottom: 0;
  }

  .titles_width {
    max-width: 43.6rem;
  }

  .picture__width {
    max-width: 71rem;
  }

  .picture__indent {
    margin-top: 0;
  }

  .picture {
    order: 0;
    align-self: baseline;
    justify-content: center;
    align-self: center;
  }
}

@media screen and (min-width: 1650px) {
  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }

  .about__content {
    order: 1;
  }

  .about__text {
    margin: 0;
  }

  .section__one {
    margin-top: 20rem;
  }
}

@media screen and (min-width: 1700px) {
  .header__top {
    width: 82%;
  }

  .head__form {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(50%);
  }

  .content {
    padding-bottom: 13rem;
  }

  .blog-width {
    margin: 0 auto;
    width: 85%;
    overflow: hidden;
  }

  .container__blog {
    margin: 0 auto;
    width: 82%;
  }

  .blog__text {
    margin-bottom: 6.3rem;
  }

  .footer__top {
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 4.6rem;
  }

  .footer__top-content {
    width: 80%;
    justify-self: flex-start;
  }

  .contacts__footer {
    margin: 0;
    align-self: center;
  }

  .address__footer {
    width: 25.9rem;
  }

  .btn__footer-placement {
    margin-bottom: 0;
  }

  .footer {
    padding: 4.6rem 0;
  }

  .menu__box-footer {
    width: 82%;
  }

  .menu__list-footer {
    width: 60%;
  }

  .menu__list {
    margin: 0 auto;
    width: 82%;
  }
}

@media screen and (min-width: 1800px) {
  .adventige__width {
    width: 46.7rem;
  }

  .adventige__text {
    width: 65%;
  }

  .adventige__flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
}

@media screen and (min-width: 1900px) {
  .closeOne {
    margin-top: -50rem;
    padding-left: 43.5em;
  }
}

@media screen and (min-width: 1920px) {
  .closeOne {
    margin-top: -50rem;
    padding-left: 47.5em;
  }
}